.containerWrapper {
  height: 110vh;
  width : 100%;
  margin-top: -50px;
  background-size:cover;
  background-repeat: no-repeat;
}

.registerForm{
  padding: 20px 0px 0px 0px;
}

.form {
  /* width: 35%; */
  float: left;
  background-color: rgb(73, 105, 116);
  margin-top: 200px;
  height: 600px;
  margin-left: 110px;
  
}

.image{
  width: 35%;
  background-color: white;
  margin-top: 200px;
  height: 600px;
  display: flex;
}

@media screen and (max-width : 767px) {
   .image{
    display: none;
   }   
}

.image img{
  padding: 20px;
}

.form Form{
  padding: 30px;
}

.registerBtn{
  width: 400px;
  box-shadow: 0 0 1px 1px;
  margin: 10px 0px 5px 0;
  border-radius: 0px;
}